<!DOCTYPE html>
<html>
    <head>
        <title>My Blog Page</title>
        <style>
          nav li{
            padding: 5px;
            display: inline;
          }
        </style>
    </head>
    <body>
      <nav>
        <ul>
          <li><a href='/'>Home</a></li>
          <li><a href='/blog'>All Posts</a></li>
          <li><a href='/newpost'>New Post</a></li>
          <li><a href='/login'>Login</a></li>
          <li><a href='/logout'>Logout</a></li>  
        </ul>
      </nav>
      

        {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      
        {% block content %}
        {% endblock %}
    </body>
</html>